exclude: ^target/

repos:
  - repo: local
    hooks:
      - id: cargo clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --all-targets --all-features -- -D warnings
        args: []
        files: (\.rs|Cargo\.toml)$
        pass_filenames: false
        priority: 0
      - id: cargo doc
        name: cargo doc
        language: system
        entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --all-features --workspace --no-deps --document-private-items' --
        args: []
        files: \.rs$
        pass_filenames: false
        priority: 0
      - id: cargo fmt
        name: cargo fmt
        language: system
        entry: cargo fmt --check
        args: []
        files: (\.rs|rustfmt\.toml)$
        pass_filenames: false
        priority: 0
