[advisories]
ignore = [
  "RUSTSEC-2024-0436", # paste unmaintained (via dropshot)
  "RUSTSEC-2025-0134", # rustls-pemfile unmaintained (via dropshot)
]

[graph]
all-features = true

[bans]
multiple-versions = "allow"

[licenses]
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  "MPL-2.0",
  "Unicode-3.0",
  "Unicode-DFS-2016",
  "Unlicense",
  "Zlib",
]
unused-allowed-license = "allow"
