exclude: ^target/

repos:
  - repo: local
    hooks:
      - id: cargo clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --quiet --all-targets --all-features -- -D warnings
        files: (\.rs|Cargo\.toml)$
        pass_filenames: false
        priority: 0
      - id: cargo doc
        name: cargo doc
        language: system
        entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --all-features --workspace --no-deps --document-private-items' --
        files: \.rs$
        pass_filenames: false
        priority: 0
      - id: cargo fmt
        name: cargo fmt
        language: system
        entry: cargo +nightly fmt --check
        files: (\.rs|rustfmt\.toml)$
        pass_filenames: false
        priority: 0
      - id: cargo run openapi
        name: cargo run openapi
        language: system
        entry: sh -c 'cargo run --quiet -- openapi -o ../target/openapi.json && diff -u --color=always ../src/api/openapi.json ../target/openapi.json'
        files: (\.rs|Cargo\.(lock|toml))$
        pass_filenames: false
        priority: 0
