.calendar-heat-map {
  display: block;
  position: relative;
  margin: 1rlh -2rlh;
}

body.compact .calendar-heat-map {
  margin: 0;
}

.calendar-heat-map > .message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(200deg 20% 95%);
  color: hsl(200deg 20% 40%);
  padding: 15px;
  border-radius: 6px;
}

.calendar-heat-map > .weeks {
  display: flex;
  overflow-x: auto;
  padding: 0 1rlh;
}

.calendar-heat-map > .weeks > .week {
  display: block;
  position: relative;
  flex: 1;
  padding-top: 1rlh;
}

.calendar-heat-map > .weeks > .week > div {
  display: block;
  position: relative;
  text-align: center;
  margin: 1px;
  padding: 0;
  aspect-ratio: 1/1;
  min-height: 15px;
}

.calendar-heat-map > .weeks > .week > div.month {
  display: none;
}

.calendar-heat-map > .weeks > .week.first > div.month {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1rlh;
  margin: 0;
  padding: 2px 0 0 7px;
  box-sizing: border-box;
  text-align: left;
  font-size: 80%;
  width: 100px;
  color: #666;
}

.calendar-heat-map > .weeks > .week.first > div.month::after {
  position: absolute;
  bottom: -1px;
  left: 1px;
  width: 0;
  height: 0.3rlh;
  border-left: 1px solid #666;
  content: "";
}

.calendar-heat-map > .weeks > .week.first > div.month.january {
  font-weight: bold;
}

.calendar-heat-map.loading > .weeks > .week > div.unknown > ol {
  filter: blur(1px);
}

.calendar-heat-map.loading > .weeks > .week > div.unknown > ol {
  border: 1px solid #fff;
}

.calendar-heat-map > .weeks > .week > div.empty > ol {
  border: 1px solid #eee;
}

.calendar-heat-map > .weeks > .week > div.highlight > ol {
  border: 1px solid hsl(30deg 100% 50%);
}

.calendar-heat-map > .weeks > .week > div.selected > ol {
  border: 2px solid hsl(210deg 100% 50%);
  box-shadow: 0 0 5px hsl(210deg 100% 50% / 0.5);
}

.calendar-heat-map > .weeks > .week > div[role="button"] {
  cursor: pointer;
}

.calendar-heat-map > .weeks > .week > div > ol {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.calendar-heat-map > .weeks > .week > div > ol > li {
  height: 100%;
}
