.repository-list {
  grid-column: 2 / -1;
  column-gap: 10px;
  row-gap: 5px;
  align-items: start;
  padding-top: 1rem;
  border-top: 1px solid transparent;
}

.repository-list > h2 {
  margin-bottom: calc(1rem - 2px); /* align li > label */
}

.repository-list > ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.repository-list > ol > li {
  margin: 0;
  padding: 0;
}

.repository-list > ol > li > label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  transition: background 0.2s;
}

.repository-list > ol > li > label:hover {
  background: hsl(0deg 0% 96%);
}

.repository-list > ol > li > label > input[type="checkbox"] {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.repository-list > ol > li > label > h3 {
  flex: 1;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  min-width: 0;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repository-list > ol > li > label > .contribution-count {
  flex-shrink: 0;
  color: #666;
  font-size: 14px;
}
