.repository-list {
  grid-column: 2 / -1;
  padding-left: 1rem;
}

.repository-list > h2 {
  margin-bottom: calc(1rem - 2px); /* align li > label */
}

.repository-list > ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 0.7rem;
  row-gap: 0;
  align-items: start;
}

.repository-list > ol > li {
  margin: 0;
  padding: 0;
}

.repository-list > ol > li > label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.repository-list > ol > li > label,
.repository-list > h2 {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

.repository-list > ol > li > label:hover {
  background: hsl(0deg 0% 96%);
}

.repository-list > ol > li > label > input[type="checkbox"] {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.repository-list > ol > li > label > h3 {
  flex: 1;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  min-width: 0;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repository-list > ol > li > label > .contribution-count {
  flex-shrink: 0;
  color: #666;
  font-size: 14px;
}

/* Collapse to 1 column */
@media (max-width: 650px) {
  .repository-list {
    margin-top: 3rem;
    padding-left: 0;
  }

  .repository-list > ol > li {
    max-width: 100%;
  }

  .repository-list > h2 {
    grid-column: 1 / -1;
    max-width: none;
  }
}
