body {
  font-family: sans-serif;
}

table.contributions {
  display: block;
}

table.contributions > tbody {
  display: flex;
}

table.contributions > tbody > tr {
  display: block;
  flex: 1;
}

table.contributions > tbody > tr > td {
  display: block;
  position: relative;
  text-align: center;
  margin: 1px;
  padding: 0;
  aspect-ratio: 1/1;
}

table.contributions > tbody > tr > td.unknown {
  filter: blur(1px);
}

table.contributions > tbody > tr > td.unknown > ol {
  border: 1px solid #fff;
}

table.contributions > tbody > tr > td.highlight > ol {
  border: 1px solid hsl(30deg 100 50);
}

table.contributions > tbody > tr > td > ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

table.contributions > tbody > tr > td > ol > li {
  margin: 0;
  padding: 0;
  height: 100%;
}

.day-info {
  display: none;
  position: fixed;
  background: #fff;
  color: #000;
  width: 400px;
  max-width: calc(100vw - 20px);
  padding: 10px;
  height: auto;
  max-height: calc(100vh - 20px);
  overflow: auto;
  z-index: 1000;
  font-size: 80%;
  box-shadow: 5px 5px 10px hsl(0 0 0 / 0.3);
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
}

*:hover > .day-info {
  display: block;
}

.day-info th {
  text-align: left;
  font-weight: normal;
}

.day-info td.commit-count {
  text-align: right;
  width: 2em;
}

.day-info tfoot td.commit-count {
  border-top: 1px solid #000;
}

.day-info span.unknown {
  color: red;
}

ol.repository-list {
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
}

ol.repository-list > li {
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none;
}

ol.repository-list > li > label {
  display: block;
  position: relative;
}

ol.repository-list > li > label > input[type="checkbox"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
}

ol.repository-list > li > label > h3 {
  padding-left: 30px;
  margin: 0;
  font-size: 100%;
}

ol.repository-list > li > label > h3 img {
  height: 1em;
  vertical-align: text-top;
  margin: 0 5px 0 0;
}

.week-graph {
  display: flex;
  border-bottom: 1px solid hsl(270deg 40 90);
  height: 20px;
}

.week-graph > div {
  position: relative;
  flex: 1;
}

.week-graph > div > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: hsl(270deg 40 70);
}
