body {
  font-family: sans-serif;
}

table.contributions {
  display: block;
}

table.contributions > tbody {
  display: flex;
}

table.contributions > tbody > tr {
  display: block;
  flex: 1;
}

table.contributions > tbody > tr > td {
  display: block;
  position: relative;
  text-align: center;
  border: 1px solid #fff;
  aspect-ratio: 1/1;
}

.day-info {
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  width: 400px;
  padding: 10px;
  height: auto;
  z-index: 1;
  font-size: 80%;
  box-shadow: 5px 5px 10px hsl(0 0 0 / 0.3);
}

*:hover > .day-info {
  display: block;
}

.day-info th {
  text-align: left;
  font-weight: normal;
}

.day-info td.commit-count {
  text-align: right;
  width: 2em;
}

.day-info tfoot td.commit-count {
  border-top: 1px solid #000;
}
